/* font-family: 'Fraunces', serif;
font-family: 'Lato', sans-serif;
 */

body {
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navbar {
  padding: 30px;
}

.navbar-title {
  font-size: 2em;
  font-family: "Fraunces", serif;
}

.nav-contact {
  background: black;
  color: white;
}

.nav-contact-words {
  margin: 0px;
  font-size: 12px;
}

.phone-number {
  text-align: center;
}

.email {
  text-align: center;
}

/* HOME */
.home-intro {
  font-family: "Fraunces", serif;
  text-align: center;
  margin: 5% 10% 2% 10%;
}

.home-consultation {
  font-style: oblique;
  margin-left: 10%;
}

.home-mountains {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/* SPECIALTIES */

.specialties-row {
  background-color: black;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.specialties-title {
  color: white;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 1.5em;
}

.specialties-description {
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.specialties-skills {
  font-family: "Fraunces", serif;
  color: white;
  text-align: center;
  padding: 10px 10px 5px 10px;
  font-size: 1.25em;
}

.specialties-skills-list {
  color: white;
  text-align: center;
  padding: 0px 10px 10px 10px;
  list-style-type: none;
}
